<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head">
  <meta charset="UTF-8">
  <title>Gallery</title>
</head>
<body class="bgrey">
<nav th:replace="partials :: navbar"></nav>
<div class="container-fluid text-center">
  <div class="h1 headers">Gallery</div>
</div>

<!--Carousel goes here-->
<div class="containter-fluid">
</div>

<!--Image Grid-->
<div class="containter-fluid">
</div>

<footer th:replace="partials :: footer"></footer>
<div th:insert="partials :: boot-scripts"></div>
</body>
</html>