<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container-fluid px-0">
<div class="headers text-center w-50 mb-3 mt-4" id="welcome">
  <div class="h1 fw-bolder">Welcome to A Time To Dance</div>
  <div class="h4 fst-italic"><span class="skinnyFont">"Exceed your wedding expectations with the guidance from renowned choreographers, ensuring your special day is filled with unforgettable magic and joy on the dance floor."</span></div>
  <button type="button" class="btn btn-secondary text-dark mt-3 navSpacing" id="greenish">Free Consultation</button>
</div>
<div class="container-fluid mt-4 px-0 text-center mainfont bgrey">
<div class="d-flex justify-content-center">
  <div class="mb-0 h6 padSpacing" id="greetings">Hi there! We are Matthew and Lindsey Hunt, two former professional dancers who have a passion for connecting with others and serving our community. After getting maring in 2019, we recognized that our skill set as dancers put us in a very unique position to help others feel confident and enjoy their own dancing on their special day. Our goal is simple: create the choreography that is personalized to your vision and help empower you to carry it out. We would love to discuss how we can help you take the next step in making your day a memorable one.</div>
</div>
<p class="headers ps-4 pb-4 mb-0 h3 text-start"><span class="skinnyFont">What We Offer</span></p>
</div>
  <div class="bgrey pt-4" id="imgcar">
    <img th:src="@{/img/img.png}" alt="first dance" class="placeholder ms-4">
    <img th:src="@{/img/img.png}" alt="mother son" class="placeholder mx-4">
    <img th:src="@{/img/img.png}" alt="father daughter" class="placeholder mx-4">
    <img th:src="@{/img/img.png}" alt="flash mob" class="placeholder mx-4">

<!--    ADDITIONAL 2 MORE FOR CAROUSELL-->
<!--    <img th:src="@{/img/img.png}" alt="wedding party staging" class="placeholder">-->
<!--    <img th:src="@{/img/img.png}" alt="music editing" class="placeholder">-->
  </div>
  <div class="container-fluid text-center mainfont bgrey px-0 pt-4 padSpacing">
    <div class="headers ps-4 pt-2 mb-0 h3 text-start lilpad"><span class="skinnyFont">Reviews and Testimonials</span></div>
    <div class="dot me-4 mb-2">Review</div>
    <div class="dot mx-2 mb-2">Review</div>
    <div class="dot ms-2 mb-2">Review</div>
<!--    <img th:src="@{/img/img.png}" alt="flash mob" class="rounded-circle mx-4 bg-white">-->
<!--    <img th:src="@{/img/img.png}" alt="flash mob" class="rounded-circle mx-4 bg-white">-->
<!--    <img th:src="@{/img/img.png}" alt="flash mob" class="rounded-circle mx-4 bg-white">-->

  </div>
  </div>

<footer th:replace="partials :: footer"></footer>
<div th:insert="partials :: boot-scripts"></div>
</body>
</html>